@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500&family=Mulish:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  font-size: 50px!important;
  font-weight: 800!important;
  
}

.font_color{
    color:  rgb(50, 221, 141);
}
.border_color{
    color:  rgb(50, 221, 141);
}
#sticky_nav{
    position: sticky;
    top: 0px;
    z-index: 1;
    
}
.nav_bg{
    background-color: white;
}
.navbar a {
    font-weight: 700;
    padding: 4px 0;
    letter-spacing: 4px;
    font-size: 12px;
    margin-left: 5px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    transition: 0.5s ease-in-out;
}

.navbar a:hover {
    
    color: #10391b!important;
    
}

.active_link { 
    border-top: 2px solid rgb(50, 221, 141)!important ;
    border-bottom: 2px solid rgb(50, 221, 141)!important ;
    
    // color: white!important;
}

.navbar-brand {
    font-size: 20px!important;
    font-weight: 600!important;
    color: rgb(50, 221, 141)!important;
}
#navbar-brand:hover{
  color:rgb(50, 221, 141)!important ;
}
// .navbar-toggler{
//   // border: none!important;

// }
// .navbar-toggler-icon:hover{
//   border: 2px solid rgb(50, 221, 141)!important ;
// }
.servicepage_button{
            /* padding: 10px 20px; */
            letter-spacing: 2px;
            font-size: 12px;
            font-weight: 600;
            position: relative;
            /* bottom: 10px; */
            text-decoration: none;
            border-radius: 25px;
            transition: 0.4s;
}
.servicepage_button:hover{

    transform: translateY(-2px);

}

.link_button{
    padding: 10px 20px;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
    background: transparent;
    text-decoration: none;
    color: rgb(50, 221, 141);
    border: 2px solid rgb(50, 221, 141)!important;
    border-radius: 25px;
    transition: 0.4s;
}
.link_button:hover{
    background-color: rgb(50, 221, 141);
    color: white;
    
    // color: #3f3d56;
    // color: #10391b;
    // color: #53f77d;
    // color: #10391b;
    // color: #6c63ff;
    // color: #10391b; 
    // color: #7E57C2;
}
#home_img{
    position: relative;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
    0%   { transform: translateY(10px);}
    100% { transform: translateY(-10px);}
  }
.card{
    border: none!important;
}
  .card-title{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: 2px;
      font-size: small;
      font-weight: 700;
      /* color: #924b42; */
  }
  .card-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
  }
  .form-control{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: rgba(50, 221, 141,0.1)!important;
      border: none!important;
      /* border-top: 1px solid rgb(50, 221, 141)!important;
      border-right: 1px solid rgb(50, 221, 141)!important; */
      border-bottom:2px solid  rgb(59, 248, 160)!important;
      /* border-radius:0 25px 25px 0!important; */
  }
  .input-group-text{
      border: none!important ;
      border-bottom:2px solid rgb(50, 221, 141)!important ;
      background-color: rgba(50, 221, 141,0.2)!important;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      /* border-radius:25px 0 0 25px !important; */
  }
  // .social_icons_div{
    
   
  // }
  .social_icons{
    font-size: 30px!important;
    padding: 7px;
    color: #282c34;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px black!important;
    transition: 0.5s!important;
  }
  .social_icons:hover{
    transform: scale(1.2);
    box-shadow: none!important;
  }
.footer {
    /* background: linear-gradient(to right ,#7E57C2, #5CE1E1, #FF725E, #40FFA2); */
    width: 100%;
    padding:  5rem 0;
    font-size: 13px;
    letter-spacing: 2px;
    color:rgb(44, 40, 40);
}



// ________________________________________________mediaQUery__________________________________________
